
#div.fullwidth{
    width: 100%;
}

div#header {
    position:fixed;
    background: URL('../pictures/headerbg.png');
    top:0;
    left:0;
    right:0;
    height:70px;
}

div#content {
    position:absolute;
    top:120px;
    left:0;
}
div#lang {
    position: absolute;
    top:0;
    right:0;
}
div#menu {
    position: absolute;
    float: right;
    margin-top:0;
    right: 100px;
    padding: 20px;
    background: URL('../pictures/menubg.png');
    background-repeat: no-repeat;
}

#content {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
}
.orders{
    background-origin: border-box;
    margin:0px;
    padding:0px;
}
.ordersHeader{
    height: 30px;
    text-align: center;
    font-style: italic; 
    color: Snow; 
    background: graytext;
    margin:0px;
}
.footerRow{
    height: 20px;
    text-align: center;
    font-style: italic; 
    color: Snow; 
    background: graytext;
    margin:0px;
}
.oddRow{
    height: 25px;
    width: 151px;
    text-align: center;
    background: #DADADA;
    margin:0px;
    padding:0px;
}
.textField{
    width: 160px;
}
.ordersId{
    width: 50px;
}
.evenRow{
    text-align: center;
    background: white;
    margin:0px;
    padding:0px;
}