
#top {
    position: static;
    background-color: cadetblue;
    color: white;
}

#content {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}


